@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #121212;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
  color: #fff;
}